@import "tailwindcss";

@theme {
  /* ... */
  --color-accent1: #2c2e31;
  --color-primary: #323437;
  --color-secondary: #646669;
  --color-font: #d1d0c6;
  --color-accent2: #dbb941;
}

/* *{
  outline: 1px solid
} */

@import "tailwindcss";

body {
  @apply bg-primary text-secondary min-h-svh font-mono;
}

/* .panel {
  @apply p-4 shadow-md rounded-xl bg-[#1c1c23] w-[550px] h-[500px];
} */

.progressBar {
  @apply h-full rounded-2xl duration-600 ease-in-out;
}

.progressBarContainer {
  @apply h-3 flex-grow-3 ml-4 rounded-2xl;
}

/* width */
::-webkit-scrollbar {
  @apply w-2.5;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded-2xl;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-[#1c1c23] rounded p-5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

.btn {
  @apply py-2 px-5 hover:text-font cursor-pointer;
}

.spacer {
  @apply h-7 w-[7px] bg-primary rounded;
}

.active {
  @apply text-accent2;
}

.card {
  @apply bg-accent1 hover:bg-accent2 rounded-2xl h-60 flex flex-col justify-center items-center gap-2 text-2xl;
}

.card.active {
  @apply text-accent1 bg-accent2;
}
